*{
    margin:0px;
    padding:0px
}
img{
   width:10%;
}
#main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1280px;
    grid-gap: 40px;
    margin: 0 auto;
    
}


#hero {
    grid-column: 1 / 3;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    background-image: url(./images/background-photo.jpg);
    background-position: center top;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%); 
    height:100vh
}
.fundo{
    background:rgba(0, 56, 68, 0.15);
}
#logo {
    
    max-width: 1280px;

    margin-left:10%;
    margin-top:0.5%;
    /* margin: 20px auto;
    padding-left: 40px; */
}

#hero-content {
    max-width: 1280px;
    width: 100%;
    /* margin: 0 auto; */
    display: grid;
    grid-template-columns: 2fr 2fr;
    justify-content: center;
    align-content: center;
    justify-content: space-around;
    place-self: start;
    grid-gap: 20%;
  }
.formulario{
    display:flex;
}
#form-box {
    background: white;
    border-radius: 20px;
    padding-top: 60px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    margin: 20px;
    margin-bottom: 50px;
    max-width: 400px;
    box-sizing: border-box;
    grid-row: 1;
    grid-column: 2;
    height: 320px;
}

#form-box form {
    display: grid;
    grid-template-columns: 1fr;
    font-family: 'Poppins';
}

#text1 {
    grid-row: 1;
    grid-column: 2;
    margin: 30px;
    font-family: 'Poppins';
    color:#003844;
    width:400px;
}
#text2 {
    grid-row: 1;
    grid-column: 1;
    margin-top: 2%;
    margin-left: 15%;
    font-family: 'Poppins';
    color: #003844;
    width: 460px;
    font-size: 18px;
}

ul{
    margin-top:7%;
    font-size:20px;
}
li{
    margin-top:1.5%;
}

#quem-somos {
    grid-row: 2;
    grid-column: 1;
    margin: 30px;
    color:#003844;
    font-family: 'Poppins';
}

#logo-final {
    grid-row: 2;
    grid-column: 2;
}



input{
    background: none;
    border:none;
    color:#6F6F6F;
    border-bottom: solid 1px #003844;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
}
.input{
    border-bottom: solid 1px #003844;
}
input.botao{
    color:white;
    background:#0C7771;
    border-radius:10px;
    border:none;
    padding: 10px;
    width: 200px;
    font-weight: bold;
    font-family: 'Poppins';
}
input.botao:hover{
    background:#095c58;
}

#logo-color {
    width: 80%;
}

hr{
    background:#0C7771;
    height:2px;
    width: 297px;
    margin-top:1%
}

p{
    margin-top: 20px;
    margin-bottom: 20px;
}

footer {
    padding: 30px;
    background: #095c58;
    margin-top: 40px;
    color: #fff;
    font-family: 'Poppins';
    text-align: center;
}

h1 {
    font-family: 'Poppins';
    font-weight: normal;
    margin-top: 0px;
}
h4{
    color:#003844;
}
#titulo {
    grid-row: 1;
    margin: 20px;
    font-size: 1.15em;
    color: #003844;
    
}
.renova{
width:400px;
}

@media only screen and (max-width: 750px) {
    #hero-content {
        grid-template-columns: 1fr;

    }
    
   
    /* #form-box {
        margin: 0 auto;
    } */
}  
@media only screen and (min-width: 300px) {

    img{
        width:30%;
    }
    #text2 {
        grid-row: 1;
        grid-column: 1;
        margin-top: 2%;
        margin-left: 15%;
        font-family: 'Poppins';
        color: #003844;
        width: 957px;
        font-size: 36px;
    }
    h1{
        width: 872px;
        font-weight:500;    
        width: 944px;
        font-size:78px;
    }
    ul{
        /* font-size: 72px;   
        font-weight: 400; */
        display:none;
    }
    #form-box {
        background: white;
        border-radius: 20px;
        padding-top: 60px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 40px;
        margin: 20px;
        margin-bottom: 50px;
        max-width: 80%;
        box-sizing: border-box;
        grid-row: 2;
        grid-column: 1;
        height: 100%;
        margin-left: 12rem;
    }
    #hero-content{
        grid-template-columns:2fr;
        grid-gap:20%;
    }
    .solucionar{
    /* font-size: 60px;
    font-weight: 600; */
    display:none;
    }
    h4{

        font-size:55px;
    }

    input{

        width: 130%;
        font-size:45px;
        
    }
    form{
        margin-left:3rem;
    }
    .input{
        border-bottom: solid 2px #003844;
    }
    input.botao{
        width: 100%;
        margin-left: 16%;
        margin-top: 10%;
    }

    #hero {

        clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%); 
        height:70vh;
    }

    .footer{
        font-size: 15px;
    }
  }
@media(min-width:500px){
    #hero {

        clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%); 
        height:150vh;
    }
}

@media(max-width: 800px){
    #hero-content{
        display:flex;
        flex-direction:column;
    }
    #hero {
        grid-column: 1 / 3;
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr;
        background-image: url(./images/background-photo.jpg);
        background-position: center top;
        margin: 0;
        height:170vh;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 0%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%); 
    }

    input{
        background: none;
        border:none;
        color:#6F6F6F;
        border-bottom: solid 1px #003844;
        padding: 10px;
        margin-bottom: 20px;
        width: 140%;
    }


}
/* @media only screen and (max-width: 1300px) {
    #main {
        grid-template-columns: 1fr;
        display: block;
    }
    #logo-color{
        width:30%;
    }

  }

 */
